<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link rel="stylesheet" type="application/javascript" th:href="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}">

    <script rel="script" th:href="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid">

    <form th:object="${recipe}" th:action="@{/recipe}" method="post"  >
        <input type="hidden" th:field="*{id}">

<!-- Description, Cooktime, preptime       -->
        <div class="container" style="margin-top: 5em">
            <div class="row">
                <div class="col card-group">
                    <div class="card border-primary ">
                        <div class="card-body form-group">
                            <label>Description</label>
                            <textarea type="text" th:field="*{description}" class="form-control"/>
                        </div>
                    </div>

                    <div class="card border-primary">
                        <div class="card-body form-group">
                            <label>Cook time</label>
                            <textarea type="text" th:field="*{cookTime}" class="form-control"/>
                        </div>
                    </div>


                    <div class="card border-primary">
                        <div class="card-body form-group">
                            <label>Prep Time</label>
                            <textarea type="text" class="form-control" th:field="*{prepTime}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<!--        Serving, Source, url, Difficulty-->
        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col card-group">
                    <div class="card border-primary ">
                        <div class="card-body form-group">
                            <label>Servings</label>
                            <textarea type="text" th:field="*{servings}" class="form-control"/>
                        </div>
                    </div>

                    <div class="card border-primary">
                        <div class="card-body form-group">
                            <label>Author</label>
                            <input type="text" th:field="*{cookTime}" class="form-control"/>
                            <label>Original Source Url</label>
                            <input type="text" th:field="*{url}" class="form-control"/>
                        </div>
                    </div>

                    <div class="card border-primary">
                        <div class="card-body form-group">
                            <label>Difficult</label>
                            <textarea type="text" class="form-control" th:field="*{difficulty}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="border-top-color: #4174ff; border-top-width: 2em; border-radius: 3px;">
                        <div class="card-body form-group">
                            <label>Directions</label>
                            <textarea type="text" class="form-control" th:field="*{directions}" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col-12 align-self-center">
                    <div class="card align-content-center" style="border-top-color: #4174ff; border-top-width: 2em; border-radius: 3px;">
                        <div class="card-body" >
                            <div class="container" >
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <h3 class="card-title">Ingredient's</h3>
                                    </div>

                                    <div class="col-4 align-self-center">

                                    </div>

                                    <div class="col-4 align-content-center">
                                        <a th:href="'/recipe/'+${recipe.id}+'/ingredients'" class="btn ">Edit Ingredient's</a>
                                        <a th:href="'/recipe/'+${recipe.id}+'/ingredient/new'" class="btn">Add Ingredient's</a>
                                    </div>
                                </div>

                            </div>

                            <ul>
                                <li class="card-text" th:each="i : ${recipe.ingredientCommands}  "
                                    th:text="${i.amount}+' '+${i.unitOfMeasureCommand.uom}+' '+${i.description}" ></li>
                            </ul>


                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="border-top-color: #4174ff; border-top-width: 2em; border-radius: 3px;">
                        <div class="card-body form-group">
                            <label>Note's</label>
                                <textarea class="form-control" rows="3" th:field="*{notesCommand.notes}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container align-content-center" style="margin-top: 1em">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>



<!--TODO add Ingredient's, categories-->
</div>
</body>
</html>