<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient's</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}">

    <script rel="script" th:href="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 5em">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <table class="table table-striped" >
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                </tr>
                </thead>

                    <!--/*@thymesVar id="description" type="com.spring.project.recipe.Model.Ingredient"*/-->
                    <td th:text="${ingredient.id}"></td>
                    <td th:text="${ingredient.description}"></td>
                    <td th:text="${ingredient.amount}"></td>
                    <td th:text="${ingredient.unitOfMeasureCommand.uom}"></td>


            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>